<mat-drawer-container class="home-container" hasBackdrop="false">
  <mat-drawer #drawer opened="true" mode="side" class="side">
    <div class="side-content">
      <div class="profile">
        <!-- <div class="avatar-placeholder">
          无头像
        </div> -->
        <img src="{{profile.avatar}}" alt="头像">
        <div class="text">{{profile.userName}}</div>
        <div class="text">{{profile.email}}</div>
      </div>
      <div class="menu">

        <mat-accordion class="accordion-menu">
          <mat-expansion-panel *ngFor="let menu of menuList">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>{{menu.icon}}</mat-icon>
                {{menu.dirTitle}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a class="router" [routerLink]="['/admin-board', route.route]"
            (click)="setCrubms(menu.dirTitle + ' > ' + route.title)" routerLinkActive="router-active" *ngFor="let route of menu.child">
              <mat-icon>{{route.icon}}</mat-icon>
              {{route.title}}
            </a>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="title-row">
      <button mat-icon-button (click)="drawer.toggle()" matTooltip="侧边栏">
        <mat-icon>vertical_split</mat-icon>
      </button>
      <span class="title">管理员后台</span>
      <span class="crumbs">{{crumbs}}</span>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
