@import ../../../../styles/color
    
.home-container
    height: 100%

.side
    width: 200px
    
.side-content
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 1rem
    .profile
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 1rem
        img
            width: 100px
            height: 100px
            border-radius: 50%
            margin-bottom: 1rem
        .text
            color: $text-color
            padding: .3rem
            
.accordion-menu
    background-color: transparentize($primary-color,.9)

.menu
    display: flex
    flex-direction: column
    width: 100%
    border-top: 1px solid $primary-color

.router
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    width: 100%
    color: $primary-color
    padding: 10px 0
.router-active
    color: $back-color
    background-color: $primary-color
    padding: 10px 12px

.title-row
    display: flex
    padding: 1rem .5rem
    box-shadow: 0 .25rem 1rem $shadow-color
    .title
        font-size: 2rem
        margin-left: 1rem
    .crumbs
        display: flex
        align-items: flex-end
        margin-left: 1rem
        padding-bottom: 5px
        color: $primary-color