<header>
  <nav>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <a class="title" mat-button [routerLink]="['/']">League Of Programmers</a>
        <div class="remaining-space"></div>
        <span class="actions-space">
          <button mat-button>登录</button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <!--<div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/identity']"
              >login</a
            >
          </li>
        </ul>
      </div>
    </div>-->
  </nav>
</header>
