<header>
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <a class="title" mat-button [routerLink]="['/']">League Of Programmers</a>
      <a class="title-sub" mat-flat-button color="primary" [routerLink]="['/']">LOP</a>
      <div class="remaining-space">
        <input class="search" type="search" #searchBox (keyup.enter)="search(searchBox.value)" placeholder="搜索">
      </div>
      <div style="margin-right: 10px;" *ngIf="showActions">
        <span class="actions-space">
          <button mat-flat-button color="primary" (click)="writeBlog()">写博文</button>
          &nbsp;&nbsp;
          <a *ngIf="!isLoggedIn" [routerLink]="['login']" mat-flat-button>登录</a>
          <span *ngIf="isLoggedIn">
            <a mat-flat-button color="primary" [matMenuTriggerFor]="profile">{{userName}}</a>
            <mat-menu #profile>
              <a [routerLink]="[userName]" mat-menu-item>个人信息</a>
              <a mat-menu-item (click)="logout()">登出</a>
            </mat-menu>
          </span>
        </span>
        <span class="actions-space-sub">
          <button mat-icon-button [matMenuTriggerFor]="actions">
            <mat-icon>subject</mat-icon>
          </button>
          <mat-menu #actions>
            <a *ngIf="!isLoggedIn" [routerLink]="['login']" mat-menu-item>
              <mat-icon>login</mat-icon>
              登录
            </a>
            <div *ngIf="isLoggedIn">
              <a [routerLink]="[userName]" mat-menu-item>
                <mat-icon>face</mat-icon>
                {{userName}}
              </a>
              <button mat-menu-item (click)="writeBlog()">
                <mat-icon>wysiwyg</mat-icon>
                写博文
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                登出
              </button>
            </div>
          </mat-menu>
        </span>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</header>
