<div class="container">

  <div class="left">
    <app-user-info-box [account]="account"></app-user-info-box>
  </div>

  <div class="list">
    <div class="blog-list">
      <div class="title-box">
        <span class="title">博文</span>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>搜索的 @{{account}} 博文</mat-label>
        <input matInput type="search" (input)="search=$event.target.value" (keyup.enter)="getBlogList()">
        <mat-icon matSuffix (click)="getBlogList()" style="cursor: pointer;">search</mat-icon>
      </mat-form-field>
      <mat-paginator [length]="totalSize" [pageIndex]="index" [pageSize]="size" (page)="changeBlogsPage($event)"></mat-paginator>
      <div class="blogs">
        <div class="blog-item" *ngFor="let blog of blogList">
          <div class="blog-title">
            <a [routerLink]="['/blogs', blog.id, blog.title]">{{blog.title}}</a>
            <span class="dateTime">{{blog.dateTime}}</span>
          </div>
          <div class="views">
            <div class="statistics">
              <span>views: {{blog.views}}</span>
              <span>likes: {{blog.likes}}</span>
            </div>
            <div *ngIf="isSelf">
              <button mat-button color="warn" (click)="deleteBlog(blog.id, blog.title)">删除</button>
              <a [routerLink]="['/blogs', blog.id, 'edit']" mat-stroked-button color="primary">编辑</a>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="totalSize" [pageIndex]="index" [pageSize]="size" (page)="changeBlogsPage($event)"></mat-paginator>
    </div>
  </div>

  <div class="right">
    <app-notice-board></app-notice-board>
  </div>

</div>
