<div class="container">

  <div class="left">
    <app-user-info-box [account]="account"></app-user-info-box>
  </div>

  <div class="list">
    <div class="blog-list">
      <div class="title-box">
        <span class="title">博文</span>
      </div>
      <div class="blogs">
        <div class="blog-item">
          <div class="blog-title">
            <a [routerLink]="['/blogs', '1', 'league-of-programmers']">title title title</a>
            <span class="dateTime">2020-06-01</span>
          </div>
          <p class="abstrcat">
            abstrcatab str catabstr catabstrcatabstr cat ab strca tabstr catab strca tabstrc atabstr cat
            abstrcatab strcatabst rcatab strca tabstrcat
          </p>
          <div class="views">
            <div class="statistics">
              view: 1
            </div>
            <div *ngIf="isSelf">
              <button mat-button color="warn">删除</button>
              <button mat-stroked-button color="primary">编辑</button>
            </div>
          </div>
        </div>

        <div class="blog-item">
          <div class="blog-title">
            <a [routerLink]="['/blogs', '1', 'league-of-programmers']">title title title</a>
            <span class="dateTime">2020-06-01</span>
          </div>
          <p class="abstrcat">
            abstrcatab str catabstr catabstrcatabstr cat ab strca tabstr catab strca tabstrc atabstr cat
            abstrcatab strcatabst rcatab strca tabstrcat
          </p>
          <div class="views">
            <div class="statistics">
              view: 1
            </div>
            <div *ngIf="isSelf">
              <button mat-button color="warn">删除</button>
              <button mat-stroked-button color="primary">编辑</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="right">
    <app-notice-board></app-notice-board>
  </div>

</div>
