<div class="container">
  <div class="notification-list">
    <div class="notification">
      <span>2020/01/01</span>
      <a class="title" (click)="openNotice(1)">
        league of programmers
      </a>
    </div>
    <div class="notification">
      <span>2020/01/01</span>
      <a class="title" (click)="openNotice(1)">
        league of programmers
      </a>
    </div>

    <mat-paginator [length]="totalSize" [pageIndex]="index" [pageSize]="size" (page)="pageChange($event)"
        style="display: flex;">
    </mat-paginator>
  </div>
</div>
