<div class="container">
  <div class="blog-list">
    
    <div class="blog" *ngFor="let blog of blogList">
      <div class="blog-title">
        <a [routerLink]="['/blogs', blog.id, blog.title]">{{blog.title}}</a>
        <span class="dateTime">{{blog.dateTime}}</span>
      </div>
      <div class="views">
        <div class="statistics">
          <span>views: {{blog.views}}</span>
          <span>likes: {{blog.likes}}</span>
        </div>
      </div>
    </div>

    <mat-paginator [length]="totalSize" [pageIndex]="index" [pageSize]="size" (page)="pageChange($event)"></mat-paginator>

  </div>
  <div class="notification">
    <app-notice-board></app-notice-board>
  </div>
</div>