<div class="board-box">
  <div class="board-title">
    布告栏
  </div>
  <div class="list">
    <div class="item">
        <a [routerLink]="['/']" target="_blank" matTooltip="league of programmers" [matTooltipPosition]="'above'">
            league of programmers
        </a>
    </div>
    <div class="item">
        <a [routerLink]="['/']" target="_blank" matTooltip="league of programmers" [matTooltipPosition]="'above'">
            league of programmers league of programmers
        </a>
    </div>
  </div>
</div>
