<div class="board-box">
  <div class="board-title">
    布告栏
  </div>
  <div class="list">
    <div class="item">
        <a target="_blank" matTooltip="league of programmers" [matTooltipPosition]="'above'"
        (click)="openNotice(1)">
            league of programmers
        </a>
    </div>
    <div class="item">
        <a target="_blank" matTooltip="league of programmers" [matTooltipPosition]="'above'"
        (click)="openNotice(2)">
            league of programmers league of programmers
        </a>
    </div>
  </div>
  <div class="more">
    <a>更多...</a>
  </div>
</div>
