<h2 mat-dialog-title>修改密码</h2>
<mat-dialog-content>
  <form #pwdForm="ngForm" class="password-contianer">
    <mat-form-field appearance="outline">
      <mat-label>请输入旧密码</mat-label>
      <input matInput type="password" [(ngModel)]="changePassword.oldPassword" name="oldPassword" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>请输入新密码</mat-label>
      <input matInput type="password" #newPwd="ngModel" [(ngModel)]="changePassword.newPassword" minlength="6" name="newPassword" required>
      <mat-error *ngIf="newPwd.errors">新密码必须长度必须大于6</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>再次输入新密码</mat-label>
      <input matInput type="password" #conPwd="ngModel" [(ngModel)]="changePassword.confirmPassword" name="confirmPassword" required>
      <mat-hint>两次新密码必须相同</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>关闭</button>
  <button mat-raised-button color="primary" [disabled]="pwdForm.invalid" (click)="confirmChangePassword()">确认修改</button>
</mat-dialog-actions>
