<div class="blogs-container">
  <div class="search-row">
    <mat-form-field>
      <input matInput placeholder="标题" (keyup.enter)="searchList()" (input)="search = $event.target.value">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-select placeholder="博文状态" [(ngModel)]="state">
        <mat-option>全部</mat-option>
        <mat-option value="0">启用</mat-option>
        <mat-option value="1">禁用</mat-option>
        <mat-option value="2">草稿</mat-option>
        <mat-option value="3">待审核</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="search-action">
      <span class="search-btn">
        <button mat-stroked-button color="primary" (click)="searchList()">搜索</button>
      </span>
    </div>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="w100">

      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> 标题 </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="authorAccount">
        <th mat-header-cell *matHeaderCellDef> 作者 </th>
        <td mat-cell *matCellDef="let element"> {{element.authorAccount}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> 状态 </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list [ngSwitch]="element.state.key">
            <mat-chip *ngSwitchCase="0" color="primary" selected>{{element.state.value}}</mat-chip>
            <mat-chip *ngSwitchCase="1" color="warn">{{element.state.value}}</mat-chip>
            <mat-chip *ngSwitchCase="2" selected>{{element.state.value}}</mat-chip>
            <mat-chip *ngSwitchCase="3" color="accent" selected>{{element.state.value}}</mat-chip>
          </mat-chip-list>
          
        </td>
      </ng-container>

      <!-- dateTime Column -->
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef> 发布时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/admin-board', 'blogs',element.id]" mat-stroked-button color="primary">查看</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalSize" [pageIndex]="index" [pageSize]="size" (page)="pageChange($event)"
      showFirstLastButtons></mat-paginator>
  </div>


</div>
