@import ./styles/theme

html
  font-size: 14px

html,body
  height: 100%

body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif

.h100
  height: 100%

.w100
  width: 100%

textarea,.textarea
  line-height: 2rem!important
  font-size: 1.3rem!important

p
  overflow-wrap: break-word

markdown p
    text-indent: 2em

.spinner
  display: flex
  justify-content: center